body {
    width: 200px;
    margin: 0 !important;
}

.container {
    padding: 0 1px 0 1px;
}

.container > div {
    padding: 10px;
    border-bottom : 1px solid #999;
}

.container > div:last-child {
    border-bottom : none;
}

.page-info {
    display: flex;
    align-items: center;
}

.page-title {
    margin-right: 10px;
}