.main-footer {
    background: #ffeb33 !important;
    border: none !important;
}

.navbar-brand {
    background: #ffeb33 !important;
}

.container-fluid {
    background: #ffeb33 !important;
}

.collapse navbar-collapse {
    background: #ffeb33 !important;
}

header {
    background-color:#ffeb33 !important;
}

#body_divBody {
    background: #ffeb33 !important;
}

.navbar .navbar-static-top {
    background-color:#ffeb33 !important;
}